:root {
	--border-radius: 4px !important;
	--elevation-low: 0 1px 0 rgba(4, 4, 5, .2), 0 1.5px 0 rgba(6, 6, 7, .05), 0 2px 0 rgba(5, 5, 5, .05);
}

/* THEME LOAD */
.hIokec > .ckpHTH:before {
	content: "Theme loaded successfully!";
	display: block;
	margin-bottom: 1rem;
	color: var(--success)
}

._version_t7t23_53:after {
	content: "Revord Theme: 1.0.0";
}

/* SIDEBAR SERVERS */
[class^="SwooshWrapper"] {
	display: none;
}

[class^="SidebarBase"] > .iDeTmr {
	width: 72px;
}

[class^="SidebarBase"] > [class^="Base"] > :nth-child(1) {
	margin-top: 12px;
}

[class^="SidebarBase"] > [class^="Base"] > :last-child {
	margin-top: 12px;
}

[class^="SidebarBase"] > [class^="Base"] [class^="ItemContainer"] {
	padding: 0px 12px;
	margin-bottom: 8px;
	width: 82px;
}

[class^="SidebarBase"] > [class^="Base"] [class^="LineDivider"] {
	padding: 0;
	height: 2px;
	margin-bottom: 8px;
	margin-left: 8px;
	width: 32px;
}

[class^="SidebarBase"] > [class^="Base"] [class^="ParentBase"] {
	height: 48px;
	width: 48px;
	overflow: visible;
}

[class^="SidebarBase"] > [class^="Base"] [class^="HeightPreservingContainer"]:not(:nth-child(1)) foreignObject {
	mask: unset;
}

[class^="SidebarBase"] > [class^="Base"] [class^="HeightPreservingContainer"]:not(:nth-child(1)) circle {
	transform: scale(0.533333333) translate(-42px, 26px);
	fill: var(--foreground);
}

[class^="SidebarBase"] > [class^="Base"] :nth-child(1):hover foreignObject {
	filter: unset;
}

[class^="SidebarBase"] > [class^="Base"] [class^="Image"] {
	border-radius: 50%;
	transition: border-radius 0.1s linear;
}

[class^="SidebarBase"] > [class^="Base"] [class^="Image"]:hover {
	border-radius: 35%;
	transition: border-radius 0.1s linear;
}

[class^="SidebarBase"] > [class^="Base"] [class^="ItemContainer"] > div:nth-child(2) [class^="Image"] {
	border-radius: 35%;
}

[class^="SidebarBase"] > [class^="Base"] [class^="ItemContainer"] {
	cursor: unset;
}

@keyframes server-indicator {
	0% {
		top: 20px;
		height: 8px;
	}

	100% {
		height: 40px;
	}
}

[class^="SidebarBase"] > [class^="Base"] div[style="position: relative;"]:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 40px;
	left: -16px;
	top: 5px;
	z-index: 1;
	border-radius: 8px;
	background-color: var(--foreground);
	animation: server-indicator 0.75s ease-out;
}

.tippy-box {
	box-shadow: 0 4px 8px hsla(0,0%,0%,0.16);
    background-color: var(--background);
    color: var(--foreground);
}

.tippy-arrow:before {
	color: var(--background)
}

/* LEFT SIDEBAR */
[class^="ServerSidebar__ServerBase"],
[class^="SidebarBase__GenericSidebarBase"] {
	width: 240px;
	border-start-start-radius: 0px;
	border-end-start-radius: 0px;
}

/* SERVER BANNER */
[class^="ServerHeader__ServerBanner"]:not(.jXEHHp) {
	height: 135px;
	justify-content: flex-start;
}

[class^="ServerHeader__ServerBanner"]:not(.jXEHHp) > .container {
	height: 58px;
	padding: 12px 16px;
	width: 240px;
	background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent);
}

[class^="ServerHeader__ServerBanner"]:not(.jXEHHp) > .container > * {
	align-self: start;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .8));
	padding-top: 3px;
}

[class^="ServerHeader__ServerBanner"].jXEHHp > .container,
[class^="HomeSidebar__Navbar"] {
	background-color: var(--secondary-background);
	box-shadow: var(--elevation-low);
	height: 48px;
	padding: 12px 16px;
	width: 240px;
}

/* SERVER CHANNELS */
[class^="ServerSidebar__ServerList"] {
	padding: 0;
}

[class^="ServerSidebar__ServerList"] summary {
	height: 24px;
	margin-top: 16px;
	margin-left: 4px;
}

[class^="ServerSidebar__ServerList"] summary svg {
	height: 14px;
	width: 14px;
	margin-inline-end: unset !important;
}

[class^="ServerSidebar__ServerList"] [class^="Category"] {
	padding: 0;
	margin: 0;
}

[class^="ServerSidebar__ServerList"] a > div {
	padding: 0 8px;
	margin: 1px 8px;
	height: 34px;
}

[class^="ServerSidebar__ServerList"] > a:first-child > div {
	margin-top: 16px;
}

[class^="ServerSidebar__ServerList"] a > div:hover {
	background-color: rgba(var(--tertiary-foreground-rgb), .05);
}

[class^="ServerSidebar__ServerList"] a > div[data-active=true],
[class^="ServerSidebar__ServerList"] a > div[data-active=true]:hover {
	background-color: rgba(var(--tertiary-foreground-rgb), .1);
	cursor: pointer;
}

[class^="ServerSidebar__ServerList"] [class^="_button_"] {
	transform: translateX(-208.25px);
}

/* HEADER */
[class^="RevoltApp__Routes"] > [class^="Header"],
[class^="Home__Overlay"] .content > [class^="Header"] {
	border-radius: unset;
	backdrop-filter: unset;
	background-color: var(--primary-background);
	box-shadow: var(--elevation-low);
}

/* CHAT */
[class^="MessageArea__Area"] > :not(.gRLOyd),
[class^="MessageArea__Area"] [class^="MessageReply__ReplyBase"]:first-child {
	margin-top: 1.0625rem;
}

[class^="MessageBase__MessageContent"] .fNmnwJ {
	line-height: 1.375rem;
}

/* MENTION */
[class^="MessageBase"].cZEhIO, [class^="MessageBase"].fhGxEk {
	background: rgba(var(--mention-rgb), .1);
	border-left: 2px solid var(--mention)
}

[class^="MessageBase"].cZEhIO:hover, [class^="MessageBase"].fhGxEk:hover {
	background: rgba(var(--mention-rgb), .075);
}

/* REPLY */
[class^="ReplyBar__Base"] {
	background-color: transparent;
	padding-left: 16px;
	padding-right: 16px;
}

/* MESSAGE BOX */
[class^="MessageBox__Base"] {
	margin: 0px 16px 24px 16px;
	border-radius: 8px;
}

/* TYPPING INDICATOR*/
[class^="TypingIndicator__Base"] {
	order: 9999;
}

[class^="TypingIndicator__Base"] > div, [class^="JumpToBottom__Bar"].ggHcXn > div {
	backdrop-filter: unset;
	background-color: var(--primary-background);
	padding-left: 16px;
	padding-right: 16px;
}

/* MEMBER LIST */
[class^="Channel__ChannelMain"] [class^="MemberList__ListCategory"] {
	padding: 24px 8px 0 16px;
	height: 40px;
}

[class^="Channel__ChannelMain"] [class^="SidebarBase__GenericSidebarBase"] [class^="_item_"] {
	padding: 0 8px;
	margin: 0 8px;
}

[class^="Channel__ChannelMain"] [class^="SidebarBase__GenericSidebarBase"] [class^="_item_"]:hover {
    background-color: rgba(var(--tertiary-foreground-rgb), .05);
}

/* USER PROFILE */
[type="user_profile"] [class^="_profile_"] {
	transform: translateY(95px)
}

[type="user_profile"] [class^="_profile_"]:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 61px;
	z-index: -1;
	background-color: var(--background);
}

[type="user_profile"] [class^="_profile_"] a {
	transform: translateY(40px)
}

[type="user_profile"] [class^="_profile_"] [class^="_details_"] {
	transform: translate3d(-96px, 70px, 10px);
	color: var(--foreground)
}

[type="user_profile"] [class^="_profile_"] [class^="IconBase"] img {
	border: 2px solid var(--background);
}

[type="user_profile"] [class^="_tabs_"] {
	background-color: var(--background);
	border-bottom: 1px solid rgba(var(--foreground-rgb), 0.15);
	transform: translateY(140px);
	color: var(--foreground);
}

[type="user_profile"] [class^="_content_"] {
	padding-top: 156px;
	background: var(--background);
	min-height: 390px;
	max-height: 390px;
}

.katex .base {
	position: unset;
}

/* CONTEXT MENU */
[class="context-menu"] {
    background-color: rgb(24, 25, 28);
    font-size: 14px;
    padding: 6px 8px;
}

[class="context-menu"] > span:hover {
    background-color: var(--accent) !important;
    color: var(--foreground);
    padding: 6px 8px; margin: 2px 0;
}